<div class="page-container">
  <h2>Checkout Details</h2>

  <div class="form-container">
    <%= render "form", order: @order %>
  </div>

  <div>
    <%= link_to "Back to shopping", shopper_url, class: "back-link-prod" %>
  </div>
</div>
